/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   
   Start of global reset 
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
End of global reset
*/


html{
	box-sizing: border-box;
}

body{
	max-width: 1000px;
	margin: 0 auto;	
	background-color: #aaaaaa;
	font-family: 'sans-serif';
}

.container{	
	background-color: #dddddd;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 200px 64px 1fr 60px;	
}

.banner{
grid-column: 1 / 5;
}

header{
	grid-column: 1 / 5;
	background-color: #1d4e9b;
	display: grid;
	grid-template-columns: 40% 1fr;
}

.name {
	border: 2px solid #1d4e9b;
	color: #ce7519;
	grid-column-start: 1;
	font-size: 250%;
	padding: 10px;
}


footer{
	margin-top: 10px;
	padding:10px;
	background-color: #1d4e9b;
	font-size: 100%;
	grid-column: 1/5;
}

#fileSelection{
	margin-bottom: 5em;
	grid-column: 1/5;
}

#shooterSelection{
	grid-column: 1/2;
}

